################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/foodDelivery/.vs/foodDelivery
