################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FoodSelivery/.vs/FoodDelivery
/FoodSelivery/FoodDelivery.APIGateway/obj
